* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4 {
  font-family: "Vollkorn", serif;
}

p {
  font-family: "Exo", sans-serif;
}

/* start navbar style */
.navbar {
  position: fixed;
  width: 100%;
  font-size: 18px;
  background-color: transparent;
  /* background-image: linear-gradient(260deg, #6d657e 0%, #46678b 100%); */
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 50px;
  padding-bottom: 10px;
  z-index: 2;
}

/* #js-navbar-toggle {
  padding: 5px;
} */

.navbar {
  border-bottom: none;
}

.main-nav {
  list-style-type: none;
  display: none;
}
.nav-links {
  text-decoration: none;
  color: greenyellow;
  font-family: "Exo", sans-serif;
  font-weight: 700;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.contact-nav > a {
  padding: 0px 5px;
  z-index: 1;
}

.navbar-toggle {
  position: absolute;
  padding: 5px;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #fad105;
  font-size: 24px;
}

.active {
  display: block;
}
/* end navbar style */

.hero-image {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 460px;
  object-fit: cover;
}
/* base colors */
/* #83789c  #db8757 #ca6316*/

div.headline > h1 {
  position: absolute;
  min-width: 90%;
  color: #fad105;
  font-size: 26px;
  text-shadow: 2px 2px #000000;
  text-align: left;
  font-weight: 400;
  line-height: 30px;
  padding-left: 40px;
  left: 40%;
  top: 23%;
  transform: translate( -50%, -50% );

}

section {
  width: 100%;
  min-height: 460px;
  font-size: 0;
}
/* test */
div.portrait {
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-items: stretch;
  background-color: #83789c;
  height: 460px;
  overflow: auto;
}

.imageBox {
  background-color: #ca6316;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 75%;
}

#selfImg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}
